html,body{
	height: 100%;
	width: 100%
}

.navbar {
	background-color:black;
	font-size: 1.2em;

}

.navbar-default .navbar-nav li a{
	color: #d5d5d5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{

	color: #FFF;
}

#home {
	background: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/spain-watercolor-map-dan-sproul.jpg") no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	opacity: 0.8;
	background-size: cover;

}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1{
	font-size: 500%;
	font-weight: 700;
	color: orange;
}
.btn {
	background-color: white;
	color: black;
	font-weight: 700;
}

.landing-text h3{

	font-weight: 700;
	color: white;
}

.padding {
	padding: 100px 0;
}

footer {
	width: 100%;
	background-color: orange;
	padding: 5% 5% 10% 5%;
	color: black
}

.fa {
	padding: 15px;
	font-size: 25px;

}

.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}
