html,body{
	height: 100%;
	width: 100%
}

.navbar {
	background-color:rgba(80,80,0, 0.6);
	font-size: 1.2em;

}

.navbar-default .navbar-nav li a{
	color: #d5d5d5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{

	color: #FFF;
}

#home {

	background: url('/Users/tamara/Desktop/Coding_course/beginners-week-one-master/Group-project/pa.jpg') no-repeat center center fixed;
>>>>>>> 64b7ba5e2953df42b66210c492792f983e013cf1
	display: table;
	height:100%;
position: relative;
	width: 100%;
	opacity: 0.8;
	background-size: cover;
	background-position: center;

}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1{
	font-size: 500%;
	font-weight: 700;
	color: white;
}
.btn {
	background-color: white;
	color: black;
	font-weight: 700;
}

.landing-text h3{

	font-weight: 700;
	color: white;
}

.padding {
	padding: 100px 0;
}

footer {
	width: 100%;
  height: 10%;
	background-color: rgba(80,80,0,0.8);
  /*padding: 5% 5% 10% 5%;
	color: black;*/
}

.fa {
	padding: 15px;
	font-size: 25px;

}

.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}

h3,h4 {
  color: white;
}
